<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 panel panel-default" ng-repeat="item in data  | filter: search | orderBy:propertyName:reverse">
            <div class="task" id="{{item.id}}">
                <div class="task_info">
                    <div class="task_created">
                        {{item.created}}
                    </div>
                    <div class="task_type label label-{{item.type}}">
                        {{item.type}}
                    </div>
                </div>
                <div class="task_body">
                   {{item.title}}
                </div>
                <div class="actions">
                    <a ng-click="updateTask(item.id)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a ng-click="deleteTask(item.id)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>